# This override file should be used when running automated tests so
# that test output is saved to the host

services:
  ffc-pay-event-hub:
    build:
      target: development
    image: ffc-pay-event-hub-development
    container_name: ffc-pay-event-hub-test
    command: npm run test
    volumes:
      - ./app:/home/node/app
      - ./test:/home/node/test
      - ./test-output:/home/node/test-output
      - ./jest.config.js:/home/node/jest.config.js
      - ./package.json:/home/node/package.json
    environment:
      PROCESSING_ACTIVE: true

  ffc-pay-event-hub-postgres:
    volumes:
      - postgres_data:/var/lib/postgresql/data

  ffc-pay-event-store-azurite:
    labels:
      com.docker.compose.pay.role: test

volumes:
  postgres_data:
  