# This override file should be used when running this service in isolation
# to provide dependencies and expose ports for local testing

services:
  ffc-pay-event-hub:
    build:
      target: development
    image: ffc-pay-event-hub-development
    container_name: ffc-pay-event-hub-development
    ports:
      - "3011:3011"
      - "9980:9229"
    volumes:
      - ./app:/home/node/app
      - ./package.json:/home/node/package.json

  ffc-pay-event-hub-postgres:
    ports:
      - "5443:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  ffc-pay-event-store-azurite:
    volumes:
      - azurite_data:/data
    ports:
      - "10070:10000"
      - "10071:10001"
      - "10072:10002"

  ffc-pay-event-hub-redis:
    volumes:
      - redis_data:/data
    ports:
      - "6391:6379"
    command: redis-server --dir /data --save 5 1

volumes:
  azurite_data:
  redis_data:
  postgres_data:
