environment: production
environmentCode:
name: ffc-pay-event-hub
namespace: ffc-pay
workstream: ffc-pay
image: ffc-pay-event-hub

labels:
  component: service

appInsights:
  connectionString:

containerConfigMap:
  name: ffc-pay-event-hub-config-map

containerSecret:
  name: ffc-pay-event-hub-container-secret
  type: Opaque

deployment:
  minReplicas: 1
  maxReplicas: 4
  cpuThreshold: 80
  memoryThreshold: 80

container:
  requestMemory: 100Mi
  requestCpu: 100m
  limitMemory: 200Mi
  limitCpu: 200m
  messageQueueHost: namespace.servicebus.windows.net
  eventsTopicAddress: ffc-pay-events
  eventsSubscriptionAddress: ffc-pay-event-hub
  maxConcurrentCalls: 10
  alertTopicAddress: ffc-pay-alert
  dataTopicAddress: ffc-pay-data-request
  dataSubscriptionAddress: ffc-pay-data-hub
  dataResponseQueueAddress: ffc-pay-data-request-response
  redisHostname: redis-redis-ha.default
  redisPassword: redis
  redisPort: 6379
  redisPartition: ffc-pay-event-hub
  azureStorageConnectionString: dummy
  azureStorageUseConnectionString: false
  azureStorageAccountName: ffcpay

postgresService:
  postgresDb: ffc_pay_event_hub
  postgresqlHost: ffc-pay-event-hub-postgres
  postgresPort: 5432
  postgresSchema: public
  postgresUser: postgres

workloadIdentity: true

azureIdentity:
  clientID: not-a-real-clientID
  resourceID: not-a-real-resourceID
